# Git
.git
.gitignore
README.md
CHANGELOG.md

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Media
media/

# Static files (will be collected during build)
staticfiles/
static/
