{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card shadow-sm w-100" style="max-width: 400px;">
        <div class="card-body text-center">
            <h2 class="card-title">¡Contraseña Actualizada!</h2>
            <p class="card-text">Su contraseña ha sido actualizada correctamente.</p>
            <a href="{% url 'users:login' %}" class="btn btn-primary">Iniciar Sesión</a>
        </div>
    </div>
</div>
{% endblock %}

